@font-face {
	font-family: 'Onest';
	src: url('../fonts/Onest-Regular.woff') format('woff');
	font-weight: 1;
	font-style: normal;
}
$brec-point1: 1680px;

body {
  margin: 0;
  padding: 0;
  font-family: "Onest";
}
p{
  margin: 0;
}
.wraper{
  max-width: 1922.793px;
  margin: 0 auto;
}
.first_screen{
  height: 850.47px;
  background-image: url("../img/первый экран.png");
  background-size: cover;
  background-position: right top;
  
  &_cont{
    position: relative;
    margin-left: 150px;
    margin-top: 163px;
    &_marking{
      position: absolute;
      top: -108px;
      left: 395px;
      width: 160px;
      padding: 18px 32px;
      color: #FFF;
      font-family: Open Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 15px;
      background: rgba(0, 43, 69, 0.90);
      p{
        margin: 0;
      }
      svg{
        position: absolute;
        right: -15px;
        top: 27px;
      }
      &:nth-child(6){
        top: 42px;
        left: 807px;
        width: 202px;
        @media (max-width: 1366px){
          top: 202px;
          left: 518px;
        }
      }
      &:nth-child(7){
        top: 242px;
        left: 740px;
        width: 151px;
        @media (max-width: 1366px){
          top: 330px;
          left: 400px;
        }
      }
    }
    div:nth-child(3){
      display: flex;
      margin: 57px 0 14px 0;
      position: relative;
      >p{
        text-align: left;
        color: #FFF;
        text-align: center;
        font-family: "Open Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      >svg{
        position: absolute;
        top: 10px;
        left:  248px;
      }

    }
    button{
      height: 58px;
      width: 203px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.16px;
      text-transform: uppercase;
      background-color: #827f7f00;
      border: 1px solid #FFF;
    }
    h1{
      max-width: 729px;
      height: 150px;
      color: #FFF;
      font-family: Lora;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }
  }
  &_price{
    margin-top: 50px;
    display: flex;
    >div{
      margin-left:31px ;
    }
    p{
      color: #FFF;
      font-family: "Open Sans";
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      &:nth-child(2){
        font-weight: 400;
      }
    }
  }

}
.header{
  &_cont{
    height: 125px;
    background: rgba(0, 43, 69, 0.90);
    display: flex;
    justify-content: space-between;
    align-items: center;
    >svg{
      margin-left: 159px;
    }
    button{
      margin-right: 150px;
      color: #FFF;
      font-family: "Open Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      display: inline-flex;
      padding: 15px 26.7px;
      justify-content: center;
      align-items: center;
      border: 0.84px solid #FFF;
      width: 183px;
      height: 49.08px;
      background-color: #ffffff00;
      white-space:nowrap;
    }
  }
  &_yandex_maps{
    display: flex;
    margin-left: 34.77px;
    @media (max-width: 1180px){
      display:none;
    }
    &-text{
      p{
        color: #FFF;
        font-family: "Yandex Sans Display";
        font-size: 13.826px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        &:nth-child(3){
          color: #FFF;
          font-family: "Yandex Sans Display";
          font-size: 8.752px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    &-group{
      display: flex;
      margin-top: 7.3px;
      p{
        color: #827F7F;
        font-family: "Yandex Sans Display";
        font-size: 21.653px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.217px;
      }
    }
  }
  &_address{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 231px;
    height: 49px;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 73px;
    @media (max-width: 1536px){
      display:none;
    }
    p{
      white-space:nowrap;
      &:nth-child(2){
        font-weight: 400;
      }
    }
  }
  &_contacts{
    display: flex;
    align-items: center;
    margin-right: 19.69px;
    svg:nth-child(2){
      margin-left: 16px;
    }
    p{
      margin-left: 20.31px;
      color: #FFF;
      font-family: "Open Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      white-space:nowrap;
    }
  }
  &_dopblock{
    flex: 10vw;
    @media (max-width: 1680px){
      flex:0;
    }

    
  }
}
.advantages{
  height: 405px;
  background-color: #FBF6EF;
  position: relative;
  @media (max-width: 1180px){
    height: 445px;
  }
  img{
    position: absolute;
    top: -38px;
    @media (max-width: 1180px){
      left: -87px;
    }
  }
  &_row1{
    display: flex;
    margin: 0 0px 55px 515px;
    padding-top: 101px;
    justify-content: space-between;
    @media (max-width: 1180px){
      margin-left: 428px;
      padding-top: 40px;
    }
    &-title{
      color: #002B45;
      font-family: "Lora";
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
    &-rectangle{
      margin-left: 20px;
      margin-top: 19px;
      height: 1px;
      background: #002B45;
      flex: 1;
      
    }
  }
  &_row2{
    margin: 0 0px 0px 521px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1180px){
      margin-left: 428px;
    }
    &-item{
      display: flex;
      margin-right: 96px;
      &:nth-child(2){
        margin-right: 82px;
      }
      @media (max-width: 1366px){
        margin-right: 0px;
      }
      &-title{
        
        margin-left: 29px;
        p{
          color: #002B45;
          font-family: "Open Sans";
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          &:nth-child(2){
            font-weight: 400;
          }
          &:nth-child(3){
            font-weight: 400;
          }
        }
      }
    }
  }
}
.works{
  padding-top: 159px;
  position: relative;
  &_rectangle{
    position: absolute;
    top: 114px;
    right: 0px;
    width: 676px;
    height: 415px;
    border-bottom: 1px solid #002B45;
    border-top: 1px solid #002B45;
    border-left: 1px solid #002B45;
    z-index: -1;
  }
  &_head{
    position: relative;
    margin-left: 151px;
    p{
      margin: 0;
      color: #002B45;
      font-family: "Lora";
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; 
    }
    &-rectangle{
      
      left: -151px;
      top: 21px;
      position: absolute;
      width: 131px;
      height: 1px;
      background-color: #002B45;
    }
  }
  &_panel{
    position: absolute;
    height: 61px;
    margin-left: 148px;
    margin-top: 46px;
    display: flex;
    z-index: 10;
    flex-wrap: wrap;
    gap: 44px;
    &-filters{
      display: flex;
      
      details {
        margin-right: 12px;
        cursor: pointer;
        width: 207px;
        &:focus{
          outline: 0px ;	
        }
      }
      summary {
        border: 1px solid #002B45;
        height: 58px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #002B45;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        gap: 10px;
        &:focus{
          outline: 0px ;	
        }
      }
      summary::-webkit-details-marker {
        display: none;
      }
      summary::after {
        content: url("../img/Polygon 1.svg");
      }
      details[open] summary::after {
        
        content: url("../img/Polygon 1 up.svg");
        color: #ef5b70;
      }
      details[open] summary{
        background-color: #002B45;
        color: #FBF6EF;;
      }
      &-item{
        &:nth-child(3){
          width: 137px;
        }
        &-custom-control-input{
          position: absolute;
          z-index: -1;
          opacity: 0;
          &+label{
            display: inline-flex;
            align-items: center;
            user-select: none;
            width: 14px;
            height: 14px;
            // outline: 1px solid #002B45;
            border: 0.7px solid #002B45;
            border-radius: 3px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            & svg{
              opacity: 0;
            }
          }
          &:checked+label svg{
            opacity: 1;
            
          }
        }
        &-nav{
          margin-top: 19px;
          width: 91%;
          height: 188px;
          padding: 21px 0 0 20px;
          background: #FFF;
          box-shadow: 0px 4px 7.3px 6px rgba(0, 0, 0, 0.05);
          list-style-type: none;
          &-item{
            
            margin-bottom: 15px;
            color: #002B45;
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            label{
              margin-right: 10px;
            }
            sub{
              text-transform: capitalize;
            }
          }
        }
      }
      
    }
    &-button{
      height: 58px;
      display: flex;
      gap: 10px;
      
      
      button{
        width: 165px;
        height: 61px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #E1E1E1;
        color: #002B45;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        border: 0;
        &:nth-child(2){
          width: 148px;
          border: 1px solid #000;
          background: #e1e1e100;
        }
      }
    }
  }
  &_list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    margin: 149px 0px 100px 149px;
    @media (max-width: 1180px){
       margin-top: 241px; 
       justify-content: center;
    }
    &-item{
      position: relative;
      width: 786px;
      height: 436px;
      display: flex;
      justify-content: end;
      &_description{
        width: 587px;
        height: 436px;
        border: 1px solid #000;
        background: #FBF6EF;
        &-title{
          margin: 59px 0 0 132px;
          color: #002B45;
          font-family: Lora;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        &-description{
          color: #002B45;
          font-family: "Lora";
          font-size: 16px;
          font-weight: 400;
          margin: 22px 0 0 133px;
        }
        &-collecting{
          margin-top: 44px;
          margin-left: 137px;
          max-width: 395px;
          display: flex;
          justify-content: space-between;
          &-item{
            p{
              color: #002B45;
              font-family: "Open Sans";
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              &:nth-child(2){
                font-size: 16px;
                font-weight: 400;
                margin-top: 6px;
              }
            }

          }
          &-gap{
            width: 0.948px;
            height: 53px;
            background: #D9D9D9;
          }
        }
        &-size{
          margin: 24px 0 0 138px;
          display: flex;
          p{
            color: #7C7C7C;
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            &:nth-child(2){
              margin-left: 5px;
              font-weight: 400;
            }
          }
        }
        &-button{
          margin:50px 0 0 133px;
          display: flex;
          gap: 18.3px;
          button{
            width: 161px;
            height: 58px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: #002B45;;
            color: #FBF6EF;
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            border: 0;
            &:nth-child(2){
              width: 229px;
              border: 1px solid #002B45;
              background: #e1e1e100;
              color: #002B45;
            }
          }
        }
      }
      &-foto{
        position: absolute;
        left: 0;
        top: 36px;
        width: 287px;
        height: 364px;
        display: flex;
        align-items: end;
        background-image: url("../img/Rectangle 4381.png");
        z-index: 3;
        &-slide{
          width: 100%;
          height: 80px;
          background-color: #001623;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 14px;
          &-nav{
            width: 44px;
            height: 32px;
            &-text{
              display: flex;
              justify-content: space-between;
              margin: 0 4px 0 4px;
              align-items: end;
              p{

                color: #FFF;
                font-family: Lora;
                font-size: 20.686px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                &:nth-child(2){
                  color: #797979;
                  font-size: 10.343px;
                }
              }
            }
            &-svg{
              height: 7px;
              display: flex;
              justify-content: space-between;
            }
          }
          &-foto{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            img{
              width: 61px;
              height: 54px;
            }
          }
        }
      }
    }
  }
  
}